@charset "UTF-8";
/* CSS Document */
/* Calculator Box */

.box {
	background-color: #0D00F7;
	height: 500px;
	width: 450px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%
}

/* Display */
.display {
	background-color:#50CEF7;
	width: 410px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 40px;
	width: 400px;
	color: black;
	background-color: #bccd95;
	font-size: 35px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 20px;
}

.button {
	width: 75px;
	height: 65px;
	border: none;
	border-radius:4px;
	margin-right: 34px;
	cursor: pointer;
	border-top: 2px solid transparent;
	border-left: 20;
}
	.button.function {
		color: white;	
		background-color: #C64F81;
		border-botton: black 2px solid;
		border-top: 2px solid transparent;
	}
		button.operatior {
			color: white;
			background-color: #16C5FF;
			border-bottom: black 2px solid;
			border-top: 2px #6F6F6F solid
		}
.button.number {
	color: white;
	background-color: #16C5FF;
	border-bottom: black 2px solid;
	border-top: 2px #6F6F6F;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px #6F6F6F solid;
	border-bottom: 2px #6F6F6F solid;
}

.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px #303030;
}
.number:active	{
	border-top: black 2px solid;
	border-bottom: 2px #6F6F6F solid;
}
